extends ../layout

block content

  h1 New Book
  form(method='POST')
    p
      label(for='title') Title
      if errorMessages.title
        input#title(class='error-input' type='text' name='title' maxlength='64' )
        p(class='error')= errorMessages.title
      else
        input#title(type='text' name='title' value=book.title maxlength='64' )

    p
      label(for='author') Author
      if errorMessages.author
        input#author(class='error-input' type='text' name='author' maxlength='64' )
        p(class='error')= errorMessages.author
      else
        input#author(type='text' name='author' value=book.author maxlength='64' )

    p
      label(for='genre') Genre
      if errorMessages.genre
        input#genre(class='error-input' type='text' name='genre' maxlength='64' )
        p(class='error')= errorMessages.genre
      else
        input#genre(type='text' name='genre' value=book.genre maxlength='64' )

    p
      label(for='first_published') First Published
      if errorMessages.first_published
        input#first_published(class='error-input' type='text' name='first_published' maxlength='4')
        p(class='error')= errorMessages.first_published
      else
        input#first_published(type='text' name='first_published' value=book.first_published maxlength='64')

    p
      input(type='submit', value='Create New Book')
