extends ../layout

block content
  if title === 'Loans'
    h1 Loans
  else if title === 'Overdue Loans'
    h1 Overdue Loans
  else if title === 'Checked Out Books'
    h1 Checked Out Books
  p
    a.button(href='/loans/new') Create New Loan
  p Filters
    a(href='/loans')  All |
    a(href='/loans/overdue')  Overdue |
    a(href='/loans/checked-out')  Checked Out

  table
    thead
      tr
        th Book Title
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href='/loans/' + loan.id)=loan.Book.title
          td
            a(href='/patrons/' + loan.Patron.id)=loan.Patron.first_name + ' ' + loan.Patron.last_name
          td=loan.loaned_on
          td=loan.return_by
          td=loan.returned_on
          td
            if loan.returned_on === null
              a(href='/loans/' + loan.id + '/return' class='button') Return Book
