extends ../layout

block content

  h1 Return Book
  p
    strong Book Title:
    |  #{loan.Book.title}
  p
    strong Loaned By:
    |  #{loan.Patron.first_name} #{loan.Patron.last_name}
  p
    strong Loaned On:
    |  #{loan.loaned_on}
  p
    strong Return By:
    |  #{loan.return_by}

  form(method='POST' action='/loans/' + loan.id + '/return/?_method=PUT')
    p
      label(for='returned_on') Returned on:
      if errorMessages.returned_on
        input#returned_on(class='error-input' type='text', name='returned_on')
        p(class='error')= errorMessages.returned_on
      else
        input#returned_on(type='text', name='returned_on' value=todaysDate)
    p
      input(type='submit', value='Return Book')
